* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
}

.container {
  background-color: rgb(252, 146, 146);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  margin-top: 5px;
  padding: 5px;
  background-color: rgb(206, 228, 81);
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  color: white;
  font-family: sans-serif;
}